@tailwind base;
@tailwind components;
@tailwind utilities;


.border-highlight::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px; /* Adjust this value as needed */
    transform: translateX(-50%);
    width: 50px; /* Adjust the length of the border */
    border-bottom: 1.5px solid #DC4A2D; /* Border color and thickness */
  }
